<Program name="ft" debugProc="16" predProc="128" constTime="1.26" file="/home/anirudhj/workspace/RuntimePrediction/MPIBenchmark.xml">
    <ProblemSize>
        <Variable id="0" name="nx" debugVal="512" predVal="2048" lb="false" />
        <Variable id="1" name="ny" debugVal="256" predVal="1024" lb="false" />
        <Variable id="2" name="nz" debugVal="256" predVal="1024" lb="false" />
        <Variable id="3" name="niter_default" debugVal="20" predVal="25" lb="false" />
    </ProblemSize>
    <CriticalVar>
        <Var id="0" postfixExpr="0" org="nx" />
        <Var id="1" postfixExpr="1" org="ny" />
        <Var id="2" postfixExpr="2" org="nz" />
        <Var id="3" postfixExpr="3" org="niter_default" />
        <Var id="4" postfixExpr="0" org="nx" />
        <Var id="5" postfixExpr="0" org="nx" />
        <Var id="6" postfixExpr="0,;1,;2,;0,;1,;2,;0,;1,;2,;2,;0,;1,;0,;1,;2,;1,;0,;2,;2,;0,;1," org="nx" />
        <Var id="7" postfixExpr="0,;0,;0,;0,;0," org="nx" />
        <Var id="8" postfixExpr="0" org="nx" />
        <Var id="9" postfixExpr="0" org="nx" />
        <Var id="10" postfixExpr="0" org="nx" />
        <Var id="11" postfixExpr="1" org="ny" />
        <Var id="12" postfixExpr="1" org="ny" />
        <Var id="13" postfixExpr="1,;1,;1,;1," org="ny" />
        <Var id="14" postfixExpr="1" org="ny" />
        <Var id="15" postfixExpr="1" org="ny" />
        <Var id="16" postfixExpr="1" org="ny" />
        <Var id="17" postfixExpr="2" org="nz" />
        <Var id="18" postfixExpr="2," org="nz" />
        <Var id="19" postfixExpr="2" org="nz" />
        <Var id="20" postfixExpr="2,;2,;2," org="nz" />
        <Var id="21" postfixExpr="2" org="nz" />
        <Var id="22" postfixExpr="2" org="nz" />
        <Var id="23" postfixExpr="2" org="nz" />
        <Var id="24" postfixExpr="3," org="niter_default" />
        <Var id="25" postfixExpr="5,;82,;25,12,MUL,;82," org="nx" />
        <Var id="26" postfixExpr="6" org="nx" />
        <Var id="27" postfixExpr="6" org="nx" />
        <Var id="28" postfixExpr="6" org="nx" />
        <Var id="29" postfixExpr="6" org="nx" />
        <Var id="30" postfixExpr="6" org="nx" />
        <Var id="31" postfixExpr="6" org="nx" />
        <Var id="32" postfixExpr="6" org="nx" />
        <Var id="33" postfixExpr="6" org="nx" />
        <Var id="34" postfixExpr="6" org="nx" />
        <Var id="35" postfixExpr="6" org="nx" />
        <Var id="36" postfixExpr="6" org="nx" />
        <Var id="37" postfixExpr="6" org="nx" />
        <Var id="38" postfixExpr="6" org="nx" />
        <Var id="39" postfixExpr="0" org="nx" />
        <Var id="40" postfixExpr="6" org="nx" />
        <Var id="41" postfixExpr="6" org="nx" />
        <Var id="42" postfixExpr="6" org="nx" />
        <Var id="43" postfixExpr="6" org="nx" />
        <Var id="44" postfixExpr="6" org="nx" />
        <Var id="45" postfixExpr="6" org="nx" />
        <Var id="46" postfixExpr="6" org="nx" />
        <Var id="47" postfixExpr="6" org="nx" />
        <Var id="48" postfixExpr="6" org="nx" />
        <Var id="49" postfixExpr="6" org="nx" />
        <Var id="50" postfixExpr="6" org="nx" />
        <Var id="51" postfixExpr="6" org="nx" />
        <Var id="52" postfixExpr="6" org="nx" />
        <Var id="53" postfixExpr="6" org="nx" />
        <Var id="54" postfixExpr="6" org="nx" />
        <Var id="55" postfixExpr="6" org="nx" />
        <Var id="56" postfixExpr="6" org="nx" />
        <Var id="57" postfixExpr="6" org="nx" />
        <Var id="58" postfixExpr="6" org="nx" />
        <Var id="59" postfixExpr="6" org="nx" />
        <Var id="60" postfixExpr="6" org="nx" />
        <Var id="61" postfixExpr="6" org="nx" />
        <Var id="62" postfixExpr="6" org="nx" />
        <Var id="63" postfixExpr="6" org="nx" />
        <Var id="64" postfixExpr="6" org="nx" />
        <Var id="65" postfixExpr="6" org="nx" />
        <Var id="66" postfixExpr="6" org="nx" />
        <Var id="67" postfixExpr="6" org="nx" />
        <Var id="68" postfixExpr="6" org="nx" />
        <Var id="69" postfixExpr="6" org="nx" />
        <Var id="70" postfixExpr="6" org="nx" />
        <Var id="71" postfixExpr="71," org="nx" />
        <Var id="72" postfixExpr="9,9,MUL,;9,9,MUL,;9,9,MUL," org="nx" />
        <Var id="73" postfixExpr="15,15,MUL,72,ADD,;15,15,MUL,72,ADD,;15,15,MUL,72,ADD," org="ny" />
        <Var id="74" postfixExpr="2" org="nz" />
        <Var id="75" postfixExpr="2" org="nz" />
        <Var id="76" postfixExpr="2" org="nz" />
        <Var id="77" postfixExpr="2" org="nz" />
        <Var id="78" postfixExpr="2" org="nz" />
        <Var id="79" postfixExpr="2" org="nz" />
        <Var id="80" postfixExpr="24" org="niter_default" />
        <Var id="81" postfixExpr="3" org="niter_default" />
        <Var id="82" postfixExpr="0" org="nx" />
        <Var id="83" postfixExpr="32," org="nx" />
        <Var id="84" postfixExpr="0" org="nx" />
        <Var id="85" postfixExpr="39," org="nx" />
        <Var id="86" postfixExpr="39" org="nx" />
        <Var id="87" postfixExpr="0" org="nx" />
        <Var id="88" postfixExpr="40" org="nx" />
        <Var id="89" postfixExpr="0" org="nx" />
        <Var id="90" postfixExpr="0" org="nx" />
        <Var id="91" postfixExpr="52," org="nx" />
        <Var id="92" postfixExpr="53," org="nx" />
        <Var id="93" postfixExpr="55," org="nx" />
        <Var id="94" postfixExpr="2" org="nz" />
        <Var id="95" postfixExpr="2" org="nz" />
        <Var id="96" postfixExpr="2" org="nz" />
        <Var id="97" postfixExpr="2" org="nz" />
        <Var id="98" postfixExpr="2" org="nz" />
        <Var id="99" postfixExpr="2" org="nz" />
        <Var id="100" postfixExpr="2" org="nz" />
        <Var id="101" postfixExpr="2" org="nz" />
        <Var id="102" postfixExpr="2" org="nz" />
        <Var id="103" postfixExpr="79" org="nz" />
        <Var id="104" postfixExpr="84," org="nx" />
        <Var id="105" postfixExpr="85" org="nx" />
        <Var id="106" postfixExpr="87" org="nx" />
        <Var id="107" postfixExpr="88" org="nx" />
        <Var id="108" postfixExpr="0" org="nx" />
        <Var id="109" postfixExpr="0" org="nx" />
        <Var id="110" postfixExpr="0" org="nx" />
        <Var id="111" postfixExpr="95" org="nz" />
        <Var id="112" postfixExpr="95" org="nz" />
        <Var id="113" postfixExpr="96" org="nz" />
        <Var id="114" postfixExpr="97" org="nz" />
        <Var id="115" postfixExpr="98" org="nz" />
        <Var id="116" postfixExpr="98" org="nz" />
        <Var id="117" postfixExpr="99" org="nz" />
        <Var id="118" postfixExpr="99" org="nz" />
        <Var id="119" postfixExpr="99" org="nz" />
        <Var id="120" postfixExpr="99" org="nz" />
        <Var id="121" postfixExpr="99" org="nz" />
        <Var id="122" postfixExpr="99" org="nz" />
        <Var id="123" postfixExpr="99" org="nz" />
        <Var id="124" postfixExpr="100" org="nz" />
        <Var id="125" postfixExpr="100" org="nz" />
        <Var id="126" postfixExpr="100" org="nz" />
        <Var id="127" postfixExpr="102" org="nz" />
        <Var id="128" postfixExpr="102" org="nz" />
        <Var id="129" postfixExpr="0" org="nx" />
        <Var id="130" postfixExpr="104" org="nx" />
        <Var id="131" postfixExpr="106" org="nx" />
        <Var id="132" postfixExpr="0" org="nx" />
        <Var id="133" postfixExpr="109" org="nx" />
        <Var id="134" postfixExpr="109" org="nx" />
        <Var id="135" postfixExpr="2;159,157,ADD,;148," org="nz" />
        <Var id="136" postfixExpr="2;159,157,ADD,;148," org="nz" />
        <Var id="137" postfixExpr="120" org="nz" />
        <Var id="138" postfixExpr="120" org="nz" />
        <Var id="139" postfixExpr="120" org="nz" />
        <Var id="140" postfixExpr="2;159,157,ADD,;148," org="nz" />
        <Var id="141" postfixExpr="123" org="nz" />
        <Var id="142" postfixExpr="123" org="nz" />
        <Var id="143" postfixExpr="123" org="nz" />
        <Var id="144" postfixExpr="2;159,157,ADD,;148," org="nz" />
        <Var id="145" postfixExpr="125" org="nz" />
        <Var id="146" postfixExpr="125" org="nz" />
        <Var id="147" postfixExpr="125" org="nz" />
        <Var id="148" postfixExpr="0" org="nx" />
        <Var id="149" postfixExpr="0" org="nx" />
        <Var id="150" postfixExpr="132," org="nx" />
        <Var id="151" postfixExpr="135;159,157,ADD,;148," org="nz" />
        <Var id="152" postfixExpr="135;159,157,ADD,;148," org="nz" />
        <Var id="153" postfixExpr="2" org="nz" />
        <Var id="154" postfixExpr="2" org="nz" />
        <Var id="155" postfixExpr="159,157,ADD,;148," org="nx" />
        <Var id="156" postfixExpr="149," org="nx" />
        <Var id="157" postfixExpr="0" org="nx" />
        <Var id="158" postfixExpr="151" org="nz" />
        <Var id="159" postfixExpr="2" org="nz" />
        <Var id="160" postfixExpr="84,;160,161,ADD," org="nx" />
        <Var id="161" postfixExpr="84," org="nx" />
        <Var id="162" postfixExpr="0" org="nx" />
        <Var id="163" postfixExpr="162," org="nx" />
    </CriticalVar>
    <ProgramBlocks>
        <!-- fft-->
        <Block type="func" timeSec="1.0562499999999999" line="163" varList="" id="0">
            <!-- transpose-->
            <Block type="func" timeSec="0.70625000000000004" line="873" varList="" id="1">
                <!-- local -->
                <Block type="loop" timeSec="0.19375000000000001" line="1308" varList="50" id="2">
                    <Block type="loop" timeSec="0.19375000000000001" line="1309" varList="49" id="3" />
                </Block>
                <!-- global -->
                <Block type="MPI_ALLTOALL" timeSec="0.390625" line="1366" varList="" id="4" />
                <!-- finish -->
                <Block type="loop" timeSec="0.125" line="1392" varList="19" id="5">
                    <Block type="loop" timeSec="0.125" line="1394" varList="51,19" id="6">
                        <Block type="loop" timeSec="0.125" line="1395" varList="52" id="7" />
                    </Block>
                </Block>
            </Block>
            <!-- cffts_1-->
            <Block type="func" timeSec="0.11562500000000001" line="871" varList="" id="8">
                <Block type="loop" timeSec="0.11562500000000001" line="918" varList="42" id="9">
                    <Block type="loop" timeSec="0.11562500000000001" line="919" varList="41,39" id="10">
                        <Block type="loop" timeSec="0.033750000000000002" line="921" varList="39" id="11">
                            <Block type="loop" timeSec="0.033750000000000002" line="922" varList="40" id="12" />
                        </Block>
                        <Block type="func" timeSec="0.070624999999999993" line="925" varList="" id="13">
                            <Block type="loop" timeSec="0.070624999999999993" line="1124" varList="106" id="14">
                                <Block type="func" timeSec="0.035624999999999997" line="1125" varList="" id="15">
                                    <Block type="loop" timeSec="0.035624999999999997" line="1175" varList="149" id="16">
                                        <Block type="loop" timeSec="0.035624999999999997" line="1190" varList="86" id="17" />
                                    </Block>
                                </Block>
                                <Block type="func" timeSec="0.031875000000000001" line="1127" varList="" id="18">
                                    <Block type="loop" timeSec="0.031875000000000001" line="1175" varList="149" id="19">
                                        <Block type="loop" timeSec="0.031875000000000001" line="1190" varList="86" id="20" />
                                    </Block>
                                </Block>
                            </Block>
                        </Block>
                        <Block type="loop" timeSec="0.0115625" line="933" varList="39" id="21">
                            <Block type="loop" timeSec="0.0115625" line="934" varList="40" id="22" />
                        </Block>
                    </Block>
                </Block>
            </Block>
            <!-- cffts_1-->
            <Block type="func" timeSec="0.111875" line="878" varList="" id="23">
                <Block type="loop" timeSec="0.111875" line="918" varList="42" id="24">
                    <Block type="loop" timeSec="0.111875" line="919" varList="41,39" id="25">
                        <Block type="loop" timeSec="0.043499999999999997" line="921" varList="39" id="26">
                            <Block type="loop" timeSec="0.043499999999999997" line="922" varList="40" id="27" />
                        </Block>
                        <Block type="func" timeSec="0.058562500000000003" line="925" varList="" id="28">
                            <Block type="loop" timeSec="0.058562500000000003" line="1124" varList="106" id="29">
                                <Block type="func" timeSec="0.058562500000000003" line="1125" varList="" id="30">
                                    <Block type="loop" timeSec="0.058562500000000003" line="1175" varList="149" id="31">
                                        <Block type="loop" timeSec="0.058562500000000003" line="1190" varList="86" id="32" />
                                    </Block>
                                </Block>
                            </Block>
                        </Block>
                        <Block type="loop" timeSec="0.01" line="933" varList="39" id="33">
                            <Block type="loop" timeSec="0.01" line="934" varList="40" id="34" />
                        </Block>
                    </Block>
                </Block>
            </Block>
            <!-- cffts_2-->
            <Block type="func" timeSec="0.12" line="876" varList="" id="35">
                <Block type="loop" timeSec="0.12" line="965" varList="45" id="36">
                    <Block type="loop" timeSec="0.12" line="966" varList="43,39" id="37">
                        <Block type="loop" timeSec="0.043124999999999997" line="968" varList="44" id="38">
                            <Block type="loop" timeSec="0.043124999999999997" line="969" varList="39" id="39" />
                        </Block>
                        <Block type="func" timeSec="0.057625000000000003" line="925" varList="" id="40">
                            <Block type="loop" timeSec="0.057625000000000003" line="1124" varList="106" id="41">
                                <Block type="func" timeSec="0.031937500000000001" line="1125" varList="" id="42">
                                    <Block type="loop" timeSec="0.031937500000000001" line="1175" varList="149" id="43">
                                        <Block type="loop" timeSec="0.031937500000000001" line="1190" varList="86" id="44" />
                                    </Block>
                                </Block>
                                <Block type="func" timeSec="0.025687499999999999" line="1127" varList="" id="45">
                                    <Block type="loop" timeSec="0.025687499999999999" line="1175" varList="149" id="46">
                                        <Block type="loop" timeSec="0.025687499999999999" line="1190" varList="86" id="47" />
                                    </Block>
                                </Block>
                            </Block>
                        </Block>
                        <Block type="loop" timeSec="0.0194375" line="980" varList="44" id="48">
                            <Block type="loop" timeSec="0.0194375" line="981" varList="39" id="49" />
                        </Block>
                    </Block>
                </Block>
            </Block>
        </Block>
        <Block type="loop" timeSec="18.375" line="166" varList="24" id="50">
            <!-- fft -->
            <Block type="func" timeSec="16" line="171" varList="" id="51">
                <!-- transpose-->
                <Block type="func" timeSec="11.1875" line="873" varList="" id="52">
                    <!-- local -->
                    <Block type="loop" timeSec="1.63125" line="1321" varList="50" id="53">
                        <Block type="loop" timeSec="1.53125" line="1322" varList="49" id="54" />
                    </Block>
                    <!-- global -->
                    <Block type="MPI_ALLTOALL" timeSec="7.6375" line="1366" varList="" id="55" />
                    <!-- finish -->
                    <Block type="loop" timeSec="1.9375" line="1392" varList="19" id="56">
                        <Block type="loop" timeSec="1.7375" line="1394" varList="51,19" id="57">
                            <Block type="loop" timeSec="1.7375" line="1395" varList="52" id="58" />
                        </Block>
                    </Block>
                </Block>
                <!-- cffts_1-->
                <Block type="func" timeSec="1.7437499999999999" line="871" varList="" id="59">
                    <Block type="loop" timeSec="1.7437499999999999" line="918" varList="42" id="60">
                        <Block type="loop" timeSec="1.7437499999999999" line="919" varList="41,39" id="61">
                            <Block type="loop" timeSec="0.53125" line="921" varList="39" id="62">
                                <Block type="loop" timeSec="0.53125" line="922" varList="40" id="63" />
                            </Block>
                            <Block type="func" timeSec="1.2875" line="925" varList="" id="64">
                                <Block type="loop" timeSec="1.1812500000000001" line="1124" varList="106" id="65">
                                    <Block type="func" timeSec="0.68125" line="1125" varList="" id="66">
                                        <Block type="loop" timeSec="0.68125" line="1175" varList="149" id="67">
                                            <Block type="loop" timeSec="0.68125" line="1190" varList="86" id="68" />
                                        </Block>
                                    </Block>
                                    <Block type="func" timeSec="0.49937499999999999" line="1127" varList="" id="69">
                                        <Block type="loop" timeSec="0.45937499999999999" line="1175" varList="149" id="70">
                                            <Block type="loop" timeSec="0.42937499999999999" line="1190" varList="86" id="71" />
                                        </Block>
                                    </Block>
                                </Block>
                                <Block type="loop" timeSec="0.10375" line="1135" varList="88" id="72">
                                    <Block type="loop" timeSec="0.10375" line="1136" varList="39" id="73" />
                                </Block>
                            </Block>
                            <Block type="loop" timeSec="0.22312499999999999" line="933" varList="39" id="74">
                                <Block type="loop" timeSec="0.20312499999999999" line="934" varList="40" id="75" />
                            </Block>
                        </Block>
                    </Block>
                </Block>
                <!-- cffts_1-->
                <Block type="func" timeSec="1.6625000000000001" line="878" varList="" id="76">
                    <Block type="loop" timeSec="1.6625000000000001" line="918" varList="42" id="77">
                        <Block type="loop" timeSec="1.6625000000000001" line="919" varList="41,39" id="78">
                            <Block type="loop" timeSec="0.63124999999999996" line="921" varList="39" id="79">
                                <Block type="loop" timeSec="0.63124999999999996" line="922" varList="40" id="80" />
                            </Block>
                            <Block type="func" timeSec="1.1950000000000001" line="925" varList="" id="81">
                                <Block type="loop" timeSec="1.1950000000000001" line="1124" varList="106" id="82">
                                    <Block type="func" timeSec="1.1950000000000001" line="1125" varList="" id="83">
                                        <Block type="loop" timeSec="1.1750000000000001" line="1175" varList="149" id="84">
                                            <Block type="loop" timeSec="1.1750000000000001" line="1190" varList="86" id="85" />
                                        </Block>
                                    </Block>
                                </Block>
                            </Block>
                            <Block type="loop" timeSec="0.20624999999999999" line="933" varList="39" id="86">
                                <Block type="loop" timeSec="0.18624999999999999" line="934" varList="40" id="87" />
                            </Block>
                        </Block>
                    </Block>
                </Block>
                <!-- cffts_2-->
                <Block type="func" timeSec="1.4375" line="876" varList="" id="88">
                    <Block type="loop" timeSec="1.4375" line="965" varList="55" id="89">
                        <Block type="loop" timeSec="1.4375" line="966" varList="43,39" id="90">
                            <Block type="loop" timeSec="0.40499999999999999" line="968" varList="44" id="91">
                                <Block type="loop" timeSec="0.40499999999999999" line="969" varList="39" id="92" />
                            </Block>
                            <Block type="func" timeSec="1.1737500000000001" line="976" varList="" id="93">
                                <Block type="loop" timeSec="1.1737500000000001" line="1124" varList="106" id="94">
                                    <Block type="func" timeSec="1.1737500000000001" line="1125" varList="" id="95">
                                        <Block type="loop" timeSec="1.1637500000000001" line="1175" varList="149" id="96">
                                            <Block type="loop" timeSec="1.1637500000000001" line="1190" varList="86" id="97" />
                                        </Block>
                                    </Block>
                                </Block>
                            </Block>
                            <Block type="loop" timeSec="0.25562499999999999" line="980" varList="44" id="98">
                                <Block type="loop" timeSec="0.22262499999999999" line="981" varList="39" id="99" />
                            </Block>
                        </Block>
                    </Block>
                </Block>
            </Block>
            <!-- evolve -->
            <Block type="func" timeSec="2.2025000000000002" line="168" varList="" id="100">
                <Block type="loop" timeSec="2.1925000000000002" line="222" varList="35" id="101">
                    <Block type="loop" timeSec="2.1825000000000002" line="223" varList="34" id="102">
                        <Block type="loop" timeSec="2.1725000000000002" line="224" varList="33" id="103" />
                    </Block>
                </Block>
            </Block>
        </Block>
    </ProgramBlocks>
</Program>
